<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/1f604bf8a1.js"></script> 
<div class="faq-section">
  <div class="faq-inner-wrapper">
    <div class="faq-content">
      <div class="faq-tab-head">
        <p class="current">About Our Dog Shoes</p>
        <p class="">Dog Shoe Education</p>
        <p class="">Sizing, Care & Instructions</p>
        <p class="">Shipping</p>
        <p class="">Returns & Exchanges</p>
        <p class="">About the Brand</p>
        <p class="">Customer Service</p>
      </div>
      <div class="faq-tab-content">
        
        <div class="tab1_content tab_collection">
          
          	<div class="tab1_content_inner list-tabs">
              <h6 class="">What materials are used in RIFRUF® dog shoes? <i class="fa fa-angle-down"></i></h6>
              <p></p>
              <p>All of our dog shoes are made from custom knitted RUFKNIT™ mesh upper and natural rubber outsoles - the same materials you find in your favorite human sneakers!</p>
          	</div> 
            <div class="tab1_content_inner list-tabs">
              <h6 class="">Are RIFRUF® dog shoes vegan? <i class="fa fa-angle-down"></i></h6>
              <p></p>
              <p>Yes! All of our dog shoes are made with animal free-products and materials.</p>
          	</div>   
            <div class="tab1_content_inner list-tabs">
              <h6 class="">Where are your dog shoes made? <i class="fa fa-angle-down"></i></h6>
              <p></p>
              <p>Our dog shoes are designed in Queens, NY and manufactured in Quanzhou, China.</p>
          	</div>   
            <div class="tab1_content_inner list-tabs">
              <h6 class="">Are these dog shoes about function or fashion? <i class="fa fa-angle-down"></i></h6>
              <p></p>
              <p>Why not both?! There are dog shoes on the market that are functional, and there are some dog shoes on the market that look halfway decent, but there are definitely no dog shoes that can do both (until now). Our dog shoes are meant to protect your dog's paws on the hottest days and coldest nights, but also to turn your daily walks into the runway! The only thing we cannot prevent is the number of strangers stopping you and asking if they can take a picture of your dog in RIFRUF® shoes.</p>
          	</div>   
            <!--div class="tab1_content_inner list-tabs">
              <h6 class="">What is your ingredient philosophy? <i class="fa fa-angle-down"></i></h6>
              <p></p>
              <p>Why not both?! There are dog shoes on the market that are functional, and there are some dog shoes on the market that look halfway decent, but there are definitely no dog shoes that can do both (until now). Our dog shoes are meant to protect your dog's paws on the hottest days and coldest nights, but also to turn your daily walks into the runway! The only thing we cannot prevent is the number of strangers stopping you and asking if they can take a picture of your dog in RIFRUF® shoes.</p>
          	</div-->   
            <div class="tab1_content_inner list-tabs">
              <h6 class="">Will my dog like wearing RIFRUF® dog sneakers? <i class="fa fa-angle-down"></i></h6>
              <p></p>
              <p>Similarly to putting any foreign object on your dog for the first time (e.g., collars, harnesses, clothes), putting RIFRUF® dog sneakers on will take some time to break in and adjust to, especially if your dog has never worn dog shoes before. We recommend being as patient as possible and to slowly build up the time your dog wears our dog shoes each day until they are capable of doing a full walk in them. Start by letting your dog wear only the front shoes for a few minutes the first few days, then gradually let your dog wear all four dog shoes and in parallel increase the amount of time the dog shoes are worn each day. Positive reinforcement (i.e., PLENTY OF TREATS) goes a long way! Additional details can be found in our "How to Put on RIFRUF Dog Shoes" video HERE.</p>
          	</div>   
            <div class="tab1_content_inner list-tabs">
              <h6 class="">How do RIFRUF® dog sneakers stay on? <i class="fa fa-angle-down"></i></h6>
              <p></p>
              <p>Our dog sneakers are secured by a velcro strap at the heel. The strap allows for a custom fit that accommodates most paws while locking the shoe in place.</p>
              <p>Each time you use the dog shoes during the initial period, be sure to check the strap periodically to make sure the shoes stay secure.</p>
          	</div>   
            <div class="tab1_content_inner list-tabs">
              <h6 class="">How long do your dog shoes last? <i class="fa fa-angle-down"></i></h6>
              <p></p>
              <p>The life of the product depends heavily on the frequency that your dog wears our dog shoes. If your dog is very active and wears RIFRUF® shoes on each walk, then your dog will be in need of a new set of dog shoes much more frequently than dogs who are less active and only occasionally wear dog shoes. Every dog is different, and the easiest way to tell if his/her dog shoes need to be replaced is by looking at the outsole. If the tread pattern has been worn down and smoothened out, then the dog shoe may need to be replaced. If you are unsure about whether your dog shoes need replacement, feel free to send us a picture of the shoe at team@rifrufqueens.com and we will be happy to provide you guidance.</p>
          	</div>   
            <!--div class="tab1_content_inner list-tabs">
              <h6 class="">Are RIFRUF® dog shoes tall enough to fit over the dew claw? <i class="fa fa-angle-down"></i></h6>
              <p></p>
              <p>RIFRUF® has tested our dog shoes across dogs of all breeds, shapes and sizes, and in nearly all cases our dog shoes fit over the dew claw. If you are experiencing any issues with fitting our dog shoes over your dog's dew claw, contact us here and we will be happy to assist you.</p>
          	</div-->   
            <div class="tab1_content_inner list-tabs">
              <h6 class="">Are RIFRUF® dog shoes tall enough to fit over the dew claw? <i class="fa fa-angle-down"></i></h6>
              <p></p>
              <p>We are so sorry to hear that your dog's paws are showing signs of irritation. The best way to prevent irritation is to slowly build up your dog's wear time with our dog shoes. As seen in our "How to put on dog shoes" video, putting RIFRUF® dog sneakers on your dog will take some time to adjust to if your dog has never worn shoes before. We recommend being patient as possible and to slowly build up the time your dog wears dog shoes each day until they are capable of going on a full walk in them.</p>
              <p>By doing this, not only does this give time for your dog to break in his or her RIFRUF® dog shoes, but it also gives you a chance to identify any points of irritation and troubleshoot. If irritation still persists, we recommend using bandaging to cover the irritation spots to help reduce any potential irritation going forward. If you have any additional questions, please reach out to team@rifrufqueens.com and we will happily assist you to make sure our shoes are fitting as comfortably as possible for your dog. Additionally, please find our detailed size guide with measurements at the bottom of our shop page to ensure you have the correct size dog shoes for your dog.</p>
          	</div>   
            <div class="tab1_content_inner list-tabs">
              <h6 class="">My dog is walking funny after putting on the dog shoes. What should I do? <i class="fa fa-angle-down"></i></h6>
              <p></p>
              <p>It is common to see dogs do a funny high-step the first few times they wear dog shoes. No need to be concerned, as this is a natural reaction (imagine how confused you must have been as a baby when you put shoes on for the first time). As seen in our "How to Put on RIFRUF Dog Shoes" video HERE, be very patient as your dog adjusts to wearing dog shoes. He/she will become a natural with constient practice!</p>
          	</div>   
          
        </div>
        
        <div class="tab2_content tab_collection">
          
          <div class="tab2_content_inner list-tabs">
            <h6>Will your dog shoes cut off circulation? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>When tightening the velcro strap around your dog's paw, we recommend leaving just a little bit of give in order to maintain a secure fit while giving the paw maximum circulation. Additionally, the upper materials of our dog shoes are made from a high quality mesh that provides breathability for your dog's paws.</p>
          </div>
          <div class="tab2_content_inner list-tabs">
            <h6>How long can I leave on dog shoes? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>We recommend not leaving dog shoes on for more than 2-3 hours. While RIFRUF® dog shoes protect your dog's paws, you will want to make sure that your dog's paws get some time to "cool off" and relax!</p>
          </div>
          <div class="tab2_content_inner list-tabs">
            <h6>Will my dog be comfortable? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>RIFRUF® dog shoes use high quality mesh and real rubber outsoles to provide your dog the same level of comfort we enjoy as humans in our sneakers.</p>
          </div>
          <div class="tab2_content_inner list-tabs">
            <h6>Will RIFRUF® dog shoes protect paws from hot pavement? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>Our real rubber outsoles protect your dog's paws from hot concrete, asphalt, and uneven surfaces, and prevent potential pad burns.</p>
          </div>
          <div class="tab2_content_inner list-tabs">
            <h6>Will RIFRUF® dog shoes protect paws from ice and snow? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>Our real rubber outsoles protect your dog's paws from ice and snow while providing the grip and traction needed to prevent slips and falls on wet and slick surfaces.</p>
          </div>
          <div class="tab2_content_inner list-tabs">
            <h6>Will RIFRUF® dog shoes prevent bringing dirt and germs into my home? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>RIFRUF® dog shoes are a great way to keep your dog's paws clean even on the muddiest days. Like you would with your own shoes, make sure to wipe down your RIFRUF® dog shoes frequently when you bring them in to your home, especially if you live in an area with lots of dirt!</p>
          </div>
          <div class="tab2_content_inner list-tabs">
            <h6>My dog is getting older and is showing hip and joint issues and/or signs of pad wear. Are RIFRUF® dog shoes appropriate for my dog? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>The real rubber outsoles of RIFRUF® dog shoes provide extra cushioning and support for older dogs, especially those that are showing hip and joint issues or signs of pad wear and tear. Our dog shoes also can prevent your dog's toes from being rubbed raw, especially for older dogs that drag their paws as they walk. RIFRUF® dog shoes are with your dog every step of the way.</p>
          </div>
          <div class="tab2_content_inner list-tabs">
            <h6>Can my dog wear the dog shoe over a bandage? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>RIFRUF® dog shoes are a great temporary solution for walking dogs when they have a bandage on. However if your dog is injured, we do not recommend wearing the shoe over the bandaged paw for long periods of time, as your dog's paw needs time to rest and heal. Please consult with your veterinarian before using shoes, as each dog's medical condition can vary on a case by case basis.</p>
          </div>
          
        </div>	
        
      	<div class="tab3_content tab_collection">

          <div class="tab3_content_inner list-tabs">
            <h6 class="">How do I know what size to order? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>For instructions on how to determine the correct dog shoe size to order, see our dog shoe size guide here.</p>
            <p>Note that recommended sizes by breed are based on average measurements and are NOT 100% guaranteed to fit your particular pup. Even if your dog's breed is included in our dog shoe size guide, we still highly recommend measuring your dog's paws to ensure the correct size.</p>
          </div>
          <div class="tab3_content_inner list-tabs">
            <h6 class="">My dog has different front and back paw sizes. Do you provide custom orders? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>Yes, we are able to accomodate different front and back paw sizes! If your dog has different front and back paw sizes, select one these 3 options in the sizing dropdown menu: XSMALL + SMALL, SMALL + MEDIUM, or MEDIUM + LARGE. For example, if your dog’s front paws are size MEDIUM and back paws are size SMALL, select the SMALL+MEDIUM option.</p>
            <p>For measuring your dog's shoe size, see our dog shoe size guide at the bottom of our shop page.</p>          </div>
          <div class="tab3_content_inner list-tabs">
            <h6 class="">How do I clean my dog shoes? Are they machine-washable? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>All of our dog shoes are machine washable. Simply put them in the wash in a laundry-safe mesh bag. After the washing process, leave them out to air-dry for at least 24 hours.</p>
          </div>
          
        </div>
         
        <div class="tab4_content tab_collection">
         
          <div class="tab4_content_inner list-tabs">
            <h6>Do you ship internationally (i.e outside of the US)? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>We ship worldwide! Shipping, exchanges, and returns are free within the contiguous USA. Standard shipping via first class mail is a flat $15 to Canada, and a flat $20 to the rest of the world. Shipping on all orders over $100 is free regardless of location.</p>
            <p>Please note that standard first-class shipping is the only available option for international orders at this time. If you would like to place an order for international rush shipping, please email us at team@rifrufqueens.com with subject line "INTERNATIONAL RUSH SHIPPING REQUEST" and we will do our best to accommodate you.</p>
            <p>Additionally, due to COVID-19 service impacts to USPS, we are unable to ship to the following countries at this time: Bermuda, Brunei, Cuba, Eritrea, French Guiana, French Polynesia, Guadeloupe, Laos, Martinique, Mauritius, Mongolia, Myanmar, Reunion (Bourbon), Saint Pierre and Miquelon (Miquelon), Samoa, South Sudan, Tajikistan, Timor-Leste, Turkmenistan, Yemen. If you reside in any of the mentioned countries, we may be able to ship to you via special request; please email us at team@rifrufqueens.com with subject line "INTERNATIONAL SHIPPING REQUEST."</p>
            <p>Unfortunately at this time we are unable to offer exchanges for Canada and international orders. If you are Canada or international based and would like to change your dog shoe size or color, we recommend returning your order and placing a new one. You can submit a return request via the return & exchange form here. Note that we do not cover the shipping cost for Canada and international orders.</p>
          </div>
          <div class="tab4_content_inner list-tabs">
            <h6>How much does shipping cost? How long will it take for my order to get delivered? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>Standard shipping is free anywhere within the contiguous United States, and packages typically arrive within 3-5 business days from our East Coast warehouse (excluding pre-orders).</p>
            <p>Standard shipping to Hawaii and Alaska rates are calculated by USPS and typically arrive within 3-5 business days.</p>
            <p>Standard shipping to Canada is a flat $15 and $20 worldwide, and packages typically arrive within 10-15 business days.</p>
            <p>Shipping on all orders over $100 is free regardless of location.</p>
            <p>Please note that orders do not ship on Saturdays, Sundays or major holidays. Currently, we cannot ship to PO boxes.</p>
            <p>*Expedited shipping is available if your pup needs his or her new dog shoes ASAP. You can upgrade to rush shipping at checkout for $20. Currently, this option is only available to customers in the contiguous United States. (Note: Expedited orders placed after 2pm ET will process the next business day. Orders do not ship on Saturday, Sunday, or United States holidays.)</p>
            <p>If you need your order even faster or have any special circumstances, please send us an email and we will see what we can do!</p>
          </div>
          <div class="tab4_content_inner list-tabs">
            <h6>I haven't received my order/shipping confirmation email. What should I do? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>If you haven't received an email confirmation yet, there are a few things you can do:</p>
            <p>Check your spam folder. Some email providers might mark our emails as spam.</p>
            <p>If you're using Gmail, check your Promotions inbox by clicking the “Promotions” tab at the top of the page.</p>
            <p>If neither of those things work, send us an email. We'll help update you on your order status. To ensure delivery to your inbox, please add team@rifrufqueens.com to your address book and safe-sender list.</p>
          </div>
          <div class="tab4_content_inner list-tabs">
            <h6>How do I track my order? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>Once your order ships, you'll receive a shipping confirmation email and tracking number. If it has been more than two business days since you placed your order and you still have not received a tracking number, send us an email and we will gladly assist you!</p>
          </div>
          <div class="tab4_content_inner list-tabs">
            <h6>My tracking isn't working. What should I do? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>New tracking numbers can take up to 24 hours to activate from the time you receive your shipping confirmation. If it's been more than 24 hours and your tracking number still isn't working, send us an email and we'll help get you a status update!</p>
          </div>
          
        </div>
        
        <div class="tab5_content tab_collection">
          
          <div class="tab5_content_inner list-tabs">
            <h6>What is your return policy for dog shoes? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>We want you to LOVE the RIFRUF® dog sneakers you just copped! If for any reason you are unsatisfied with your purchase, we offer exchanges or returns for contiguous US orders so long as your items are in <b>re-sellable condition (i.e. hair-free, dirt-free, unaltered, unwashed, undamaged, and with no marks on the mesh or wear on soles), and in their original packaging (i.e. shoe box is not folded, creased or torn). </b>Return and exchange requests must be shipped back via original packaging (in original shoe box and shipping box). We reserve the right to refuse exchanges or returns that do not meet the above criteria. Exchanged or returned orders that do not meet the above criteria will be charged a $10 shipping & handling fee and be sent back to the original recipient.</p>
            <p>For contiguous US orders, shipping fees for exchanges is free. Shipping for returns are not covered by RIFRUF®.</p>
            <p>For non-contiguous US and all international orders, shipping for returns is not covered by RIFRUF®. For non-contiguous US and international orders, we unfortunately cannot process exchanges at this time; if you need to change the size of your order, we recommend to return your order and re-order your new size.</p>
            <p>All return and exchange requests must be submitted within 14 days of receiving your original order. Note that only the first exchange for your order is free; shipping for additional exchange requests will not be covered by RIFRUF®.</p>
            <p>Please allow up to 10 business days for exchanges and returns to be processed once your order has been received by RIFRUF.</p>
            <p>Please note that our hours of operation for processing returns and exchanges are from Monday to Friday, 9am to 5pm EST.</p>
          </div>
          <div class="tab5_content_inner list-tabs">
            <h6>How do I exchange or return an item?<i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>Our exchange or return process is super simple: click <a href="https://returns.rifrufqueens.com/"><u>here</u></a> or on the “Returns & Exchanges” link at the bottom of our website to initiate your exchange or return process. Our exchanges and returns are powered by Returnly.</p>

          </div>
          <!--div class="tab5_content_inner list-tabs">
            <h6>How do I return an item? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>Once our warehouse has received your return, please allow up to 10 business days for a refund or store credit to be issued. If it has been longer than 10 business days, please contact us at returns@rifrufqueens.com with your order number in the subject line.</p>
          </div-->
          <div class="tab5_content_inner list-tabs">
            <h6>Where is my return? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>If you requested a return or exchange through our online portal and it's been longer than 14 business days since our warehouse received your return, drop us a line so that we can expedite the process. Contact us at team@rifrufqueens.com with your order number in the subject line.</p>
          </div>
          
        </div>
        
        <div class="tab6_content tab_collection">
          
          <div class="tab6_content_inner list-tabs">
            <h6>Where are you located? Do you have any stores? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>Our team is based in Queens, New York. As of right now, we do not have a physical location, but if you would like to visit us in-person or open a physical location in your city, drop us an email at team@rifrufqueens.com.</p>
          </div>
          <div class="tab6_content_inner list-tabs">
            <h6>Why RIFRUF®? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>"RIF RUF!" is the sound we always thought dogs would make when they copped their first pair of dog shoes ("I COPPED!"). Obviously our canine companions aren't working with an extended vocabulary here, but you get the drift. :)</p>
          </div>
          <div class="tab6_content_inner list-tabs">
            <h6>What makes RIFRUF® dog sneakers special? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>RIFRUF® dog sneakers are crafted using the same materials that your favorite sneakers are made from, meaning that they provide the same functionality, quality, and design for your dogs's paws that we are able to enjoy as humans. We are a team of dog lovers with design backgrounds and want to make sure that your pup's paws can stay protected but look stylish at the same time. For more details on our dog shoes and how the materials are thoughtfully chosen to protect your pup's paws, please see our product page infographic here.</p>
          </div>
          <div class="tab6_content_inner list-tabs">
            <h6>How can I get sponsored by RIFRUF®? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>We love to see our RIFRUF® dog sneaker heads! If you think your pup has what it takes to be a RIFRUF® model, send us an email with subject line "RIFRUF Model Application" to team@rifrufqueens.com with a short description of your pup, where you are located, and a few pictures and we will get back to you as soon as we can.</p>
          </div>
          <div class="tab6_content_inner list-tabs">
            <h6>Does RIFRUF® donate to non-profit organizations? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>We are always on the lookout to make a positive impact to our society through our brand. Stay tuned to hear more about potential non-profit organizations we plan to partner with in the future.</p>
          </div>
          <div class="tab6_content_inner list-tabs">
            <h6>How do I get in contact with RIFRUF® for media / influencer / blogging / marketing opportunities? <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>Have an interest in collaborating with RIFRUF®? Please contact us at team@rifrufqueens.com with a clear subject line and we will get back to you as soon as possible.</p>
          </div>
          
        </div>
        
        <div class="tab7_content tab_collection">
          
          <div class="tab7_content_inner list-tabs">
            <h6>What is the best way to reach RIFRUF® support? I have been in touch and have not heard back yet. <i class="fa fa-angle-down"></i></h6>
            <p></p>
            <p>We do our best to respond to all customer inquiries within 2 business days. If you still have not heard from us by then, feel free to email us again at team@rifrufqueens.com. We thank you in advance for your patience.,</p>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
</div>

<style>
  div#shopify-section-16100010186cd30ad3 {
    margin-top: -110px;
    margin-bottom: 40px;
  }
  
   .faq-section {
     position: relative;
     overflow: hidden;
   }

  .faq-side-icon {
    position: absolute;
    right: -140px;
    bottom: 50px;
    z-index: 0;
  }

  .faq-side-icon img{width: 70%;}
  
 
  .faq-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 25px 0px 0px 0px;
    width: 100%;
  }

  .faq-tab-head {
    display: flex;
    justify-content: space-evenly;
    margin: 0px auto 0px !important;
    width: 100%;
  }

  h2.faq-head {
    text-align: center;
  }

  .faq-content > h2, .faq-content .faq-tab-content {
    margin: 0px auto 40px;
    width: 97%;
  }
  
  .tab_collection > div {
    padding: 20px 20px 0;
  }

  .tab_collection > div > h6 {
         padding: 10px 0;
    border-bottom: 1px solid #E8E2DE;
    font-weight: normal;
    font-size: 16px;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
  }

  .tab2_content, .tab3_content, .tab4_content {
    display: none;
  }
  
  .active_tab{display:block}
  
  .faq-tab-head p {
    border-bottom: 1px solid #ffffff;
    color: #333;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    padding: 0 0 7px;
  }
  
  .faq-tab-head p.current {border-bottom:1px solid #000 !important; color: #000 !important;}
  
  .tab_collection p{display: none;}
  .tab_collection p:first-child{display: block;}
  
  .border-none{border: none !important;}
  
  .backgroung-white{background: #fff; padding-bottom: 20px !important;}
  
  i.fa.fa-angle-down{
    float: right;
    padding: 0 10px;
  }
  
  .transform_180{
  	transform: rotate(180deg);
  }
</style>

<script>
  $(".faq-tab-head p").click(function() {
    var index = $(this).index();
    $(this).parents(".faq-content").find(".tab_collection").hide();
    $(this).parents(".faq-content").find(".tab_collection").eq(index).show();
    $(this).parents(".faq-content").find('.faq-tab-head p').removeClass('current');
    $(this).addClass('current');
    console.log(index)
  });
  
  $('.list-tabs h6').click(function(){
  	$(this).siblings('p').slideToggle();
    $(this).toggleClass('border-none');
    $(this).children().toggleClass('transform_180');
    $(this).parent().toggleClass('backgroung-white');
    $(this).parent().siblings().removeClass('backgroung-white');
    $(this).parent().siblings().children('h6').children().removeClass('transform_180');
    $(this).parent().siblings().children('h6').removeClass('border-none');
    $(this).parents('.list-tabs').siblings().children('p').slideUp();
  });
</script>


{% schema %}
{
  "name": "FAQ",
  "settings": [],
  "blocks": [
    {
      "type": "separator",
      "name": "Section separator",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Default"
        }
      ]
    },
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "separator",
        "settings": {
          "title": "Shipping"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Do you ship overseas?",
          "answer": "<p>Yes, we ship all over the world. Shipping costs will apply, and will be added at checkout. We run discounts and promotions all year, so stay tuned for exclusive deals.</p>"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "How long will it take to get my order?",
          "answer": "<p>It depends on where you are. Orders processed here will take 5-7 business days to arrive. Overseas deliveries can take anywhere from 7-16 days. Delivery details will be provided in your confirmation email.</p>"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "What shipping carriers do you use?",
          "answer": "<p>We use all major carriers, and local courier partners. You’ll be asked to select a delivery method during checkout.</p>"
        }
      },
      {
        "type": "separator",
        "settings": {
          "title": "Product"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Can I return my product?",
          "answer": "<p>We always aim for make sure our customers love our products, but if you do need to return an order, we’re happy to help. Just email us directly and we’ll take you through the process.</p>"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Can I get my product personalized?",
          "answer": "<p>It depends on the creator and the product. All options are outlined on the product page, so look out for customization options there.</p>"
        }
      },
      {
        "type": "separator",
        "settings": {
          "title": "Other"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Any question?",
          "answer": "<p>You can contact us through our contact page! We will be happy to assist you.</p>"
        }
      }
    ]
  }
}
{% endschema %}
