<div class="js-maker-enhance-static-mount" id="js-maker-static-enhance-home-v2" style="height: auto; width: 100%;"></div>
{% schema %}
  {
    "name": "Maker Section",
    "settings": [
      
    ],
    "presets": [
      {
        "category": "Advanced",
        "name": "Maker Section",
        "settings": {}
      }
    ]
  }
{% endschema %}