{% render 'shogun-products', content: page %}
<div class="Container landing_page">

  <div class="js-maker-enhance-static-mount" id="js-maker-static-enhance-v1-e97676d8-29d5-11eb-adc1-0242ac120002" style="height: auto; width: 100%;"></div>
  
  <div class="PageContent PageContent--narrow Rte">
    {{ page.content }}
  </div>
</div>
